{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h2>Certifications</h2>

<a href="{% url 'certification_add' resume.id %}">+ Add Certification</a>

{% if certifications %}
  <ul>
    {% for cert in certifications %}
      <li>
        <strong>{{ cert.certification_name }}</strong> — {{ cert.issued_by }}
        {% if cert.credential_url %}
          (<a href="{{ cert.credential_url }}" target="_blank">View Credential</a>)
        {% endif %}

        <a href="{% url 'certification_edit' resume.id cert.id %}">Edit</a>
        <form method="post" action="{% url 'certification_delete' resume.id cert.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        
      </li>
    {% endfor %}
  
{% else %}
    <li>No certifications added yet.</li>
  </ul>
{% endif %}

<div>
  <a href="{% url 'project_list' resume.id %}">Back</a>
  <a href="{% url 'resume_loader' resume.id %}">Next</a>
</div>
{% endblock %}