{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}

    {% if form.errors %}
      <div style="color: red;">
        {% for field in form %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <br />

    <label for="password1">Password:</label>
    <input type="password" name="password1" id="password1" required />
    <br />

    <label for="password2">Confirm Password:</label>
    <input type="password" name="password2" id="password2" required />
    <br />

    <button type="submit">Sign Up</button>
  </form>
{% endblock %}