<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}"/>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <img src="{% static 'images/draftr-logo.png' %}" alt="Draftr Logo" class="navbar-logo" />
        <ul class="navbar-links">
          <li>
            <a href="{% url 'homepage' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'user_resumes'%}">Resumes</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
              <a href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>

      {% if user.is_authenticated %}
        <div class="navbar-right">
          <form action="/auth/logout/" method="post">
            {% csrf_token %}
            <button class="logout-btn">Logout</button>
          </form>
        </div>
      {% endif %}
    </nav>

    {% block head %}

    {% endblock %}

    {% block body %}

    {% endblock %}
  </body>
</html>
