@page {
  size: A4;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 0;
}

.cv-container {
    max-width: 700px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 1px 1px 2px #dad7d7;
    border-radius: 3px;
    padding: 40px;
    font-family: 'Lato', sans-serif;
    color: #222;
    line-height: 1.6;
}

.cv-header {
    margin-bottom: 30px;
    text-align: center;
}

.cv-full-name {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.cv-position {
    font-weight: 600;
    font-size: 18px;
    color: #444;
}

.cv-contact-info {
    margin-top: 10px;
    font-weight: 300;
    color: #555;
    font-size: 14px;
}

.cv-contact-info a {
    color: #0077cc;
    text-decoration: none;
}

.cv-contact-info a:hover {
    text-decoration: underline;
}

.cv-separator {
    display: inline-block;
    width: 2px;
    height: 14px;
    background: #999;
    margin: 0 10px;
    vertical-align: middle;
}


.cv-about p,
.cv-desc,
.cv-text {
    text-align: justify;
}

.cv-details .cv-section {
    margin-bottom: 30px;
}

.cv-section-title {
    letter-spacing: 1.5px;
    color: #54afe4;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 16px;
}

.cv-section-list-item {
    margin-bottom: 10px;
}

.cv-top-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2px;
}


.cv-role,
.cv-degree,
.cv-project {
    font-weight: bold;
    font-size: 15px;
}

/* Duration aligned right */
.cv-duration {
    font-style: italic;
    color: #555;
    font-size: 13px;
    white-space: nowrap;
}

/* Company/School name below */
.cv-name {
    font-size: 13px;
    color: #333;
}

.cv-proj-link {
    font-size: 13px;
}

/* Description */
.cv-desc {
    font-size: 14px;
}

/* Projects */
.cv-text {
    margin-top: 5px;
    font-size: 14px;
}

/* Skills Section */
.cv-skills {
    margin-bottom: 15px;
}

.cv-skills-category {
    font-weight: bold;
    margin-bottom: 5px;
}

.cv-skills-item {
    margin-left: 20px;
    list-style-type: disc;
    font-size: 14px;
}

.cv-skills-item span.cv-skill-level {
    font-style: italic;
    color: #555;
    margin-left: 5px;
}