{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
  <h2>
    {% if education %}
      Edit Education
    {% else %}
      Add Education
    {% endif %}
  </h2>

  <form method="post">
    {% csrf_token %}

    <label>School:</label>
    <input type="text" name="school" value="{{ form.school.value|default_if_none:'' }}" />

    <label>Degree:</label>
    <input type="text" name="degree" value="{{ form.degree.value|default_if_none:'' }}" />

    <label>Start Date:</label>
    <input type="date" name="start_date" value="{{ form.start_date.value|date:'Y-m-d'|default_if_none:'' }}" />


    <label>End Date:</label>
    <input type="date" name="end_date" value="{{ form.end_date.value|date:'Y-m-d'|default_if_none:'' }}" />

    <label>Currently Studying Here:</label>
    <input type="checkbox" name="is_current" {% if form.is_current.value %}checked{% endif %} />

    <label>Description:</label>
    <textarea name="description">{{ form.description.value|default_if_none:'' }}</textarea>

    <button type="submit">Save</button>
  </form>
{% endblock %}
