{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  <h2>Projects</h2>

  <a href="{% url 'project_add' resume.id %}">+ Add Project</a>

  {% if projects %}
    <ul>
      {% for project in projects %}
        <li>
          <strong>{{ project.project_title }}</strong>
          {% if project.project_link %}
            (<a href="{{ project.project_link }}" target="_blank">Link</a>)
          {% endif %}
          <p>{{ project.project_description }}</p>
          <a href="{% url 'project_edit' resume.id project.id %}">Edit</a>
          <form method="post" action="{% url 'project_delete' resume.id project.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
        </li>
      {% endfor %}
    
  {% else %}
      <li>No projects added yet.</li>
    </ul>
  {% endif %}
    
  <div>
    <a href="{% url 'skill_list' resume.id %}">Back</a>
    <a href="{% url 'certification_list' resume.id %}">Next</a>
  </div>
{% endblock %}
